# Entorno virtual
venv/
env/

# Python cache
__pycache__/
*.pyc

# Base de datos local (cada quien crea la suya)
*.db

# Variables de entorno
.env

# Configuraciones locales de IDE
.vscode/
.idea/

# Archivos temporales y logs
*.log
